version: '3.8'

services:
  musicapp:
    # 告诉 compose 使用当前目录的 Dockerfile 来构建镜像
    build: .
    # 容器名称
    container_name: NMP-services
    # 端口映射：[宿主机端口]:[容器端口]
    ports:
      - "8080:8080"
    # *** 关键的音量挂载 ***
    volumes:
      # 把你宿主机的音乐目录 映射到 容器内的 /music 目录
      # !!! 你需要修改下面这行 !!!
      - ~/Documents/MyCode/NMP/music:/music:ro
    # 重启策略
    restart: unless-stopped